@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

.mcv-section-container {
    padding: 0 20px;

    mat-form-field.mat-form-field {
        font-family: font(fonts-editor);
        font-size: 14px;
        width: 100%;
    }

    h5,
    button,
    mat-checkbox {
        font-family: font(fonts-editor);
    }

    mat-checkbox {
        font-size: 10px;
    }

    .mcv-education-delete-btn {
        padding: 0;
        min-width: 20px;
        height: 25px;
        text-align: center;
        ::ng-deep mat-icon {
            font-size: 14px;
        }
    }

    .mcv-education-add-degree-container {
        margin-top: 10px;
        padding-bottom: 10px;

        @include desktop {
            margin-top: 0;
        }

        .mcv-education-add-degree-btn {
            width: 100%;
            height: 50px !important;
        }
    }
}
