<div fxLayout="column" class="mcv-section-container">
    <ng-container *ngFor="let item of experience.items; index as j">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="calc(75% - 10px)">
                <h5>{{ item.header }}</h5>
            </div>
            <div fxFlex="calc(25% - 10px)" fxLayoutAlign="end center">
                <button
                    mat-button
                    color="warn"
                    class="mcv-education-delete-btn"
                    [disabled]="j == 0"
                    (click)="deletePosition(j)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap="10px"
            fxLayoutGap.lt-md="0px"
        >
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Employer </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="item.employer"
                        placeholder="XYZ Technology Pvt. Ltd."
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> City </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="item.city"
                        placeholder="Bengaluru"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Designation </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="item.designation"
                        placeholder="Software Developer"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Start Date </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="item.startDate"
                        placeholder="YYYY-MM"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> End Date </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="item.endDate"
                        placeholder="YYYY-MM"
                        autocomplete="off"
                        [disabled]="item.checked"
                    />
                </mat-form-field>
            </div>
            <div
                fxFlex="calc(50% - 10px)"
                fxFlex.lt-md="100%"
                style="justify-content:center !important"
            >
                <mat-checkbox
                    [checked]="item.checked"
                    (change)="onGoingPosition(item, $event)"
                    >I currently work here</mat-checkbox
                >
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Description </mat-label>
                    <textarea
                        matInput
                        type="text"
                        [(ngModel)]="item.description"
                        placeholder="Explain achievements as well as recieved honors"
                        autocomplete="off"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
    </ng-container>
    <div fxLayout="row" class="mcv-education-add-degree-container">
        <button
            mat-stroked-button
            class="mcv-education-add-degree-btn"
            (click)="addPosition()"
        >
            <mat-icon>add</mat-icon>
            add another Position
        </button>
    </div>
</div>
