<div fxLayout="column" class="mcv-section-container">
    <ng-container *ngFor="let property of education.items; index as j">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="calc(75% - 10px)">
                <h5>{{ property.header }}</h5>
            </div>
            <div fxFlex="calc(25% - 10px)" fxLayoutAlign="end center">
                <button
                    mat-button
                    color="warn"
                    class="mcv-education-delete-btn"
                    [disabled]="j == 0"
                    (click)="deleteDegree(j)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap="10px"
            fxLayoutGap.lt-md="0px"
        >
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> School Name </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.schoolName"
                        placeholder="Visvesvaraya Technological University"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Degree </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.degree"
                        placeholder="Bachelor of Engineering"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Field of Study </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.fieldOfStudy"
                        placeholder="Computer Science"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Grade </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.grade"
                        placeholder="80% or 7.5 CGPA"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> City </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.city"
                        placeholder="Bengaluru"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Start Date </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.startDate"
                        placeholder="YYYY-MM"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
                <mat-form-field appearance="outline">
                    <mat-label> Graduation Date </mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="property.graduationDate"
                        placeholder="YYYY-MM"
                        autocomplete="off"
                        [disabled]="property.checked"
                    />
                </mat-form-field>
            </div>
            <div
                fxFlex="calc(50% - 10px)"
                fxFlex.lt-md="100%"
                style="justify-content:center !important"
            >
                <mat-checkbox
                    [checked]="property.checked"
                    (change)="onGoingSchool(property, $event)"
                    >I currently study here</mat-checkbox
                >
            </div>
        </div>
    </ng-container>
    <div fxLayout="row" class="mcv-education-add-degree-container">
        <button
            mat-stroked-button
            class="mcv-education-add-degree-btn"
            (click)="addSchool()"
        >
            <mat-icon>add</mat-icon>
            add another School
        </button>
    </div>
</div>
