<div fxLayout="column" class="mcv-section-container">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="auto">
            <mat-form-field>
                <mat-label>Skills</mat-label>
                <input
                    matInput
                    #skillset
                    placeholder="Ex. Angular"
                    (keyup.enter)="addSkill(skillset.value)"
                />
            </mat-form-field>
        </div>
        <div fxFlex>
            <button mat-stroked-button (click)="addSkill(skillset.value)">
                ADD
            </button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px" style="padding:10px">
        <ng-container *ngFor="let item of skills.items; index as j">
            <!-- <div fxFlex="auto"> -->
            <mat-card class="mcv-skills-card">
                <span class="aligned-with-icon">{{ item }}</span>
                <button mat-button color="warn" (click)="deleteSkill(j)">
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </mat-card>
            <!-- </div> -->
        </ng-container>
    </div>
</div>
