@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

.mcv-section-container {
    padding: 0 20px;

    mat-form-field.mat-form-field {
        font-family: font(fonts-editor);
        font-size: 14px;
        width: 100%;
    }

    .mcv-skills-card {
        margin: 5px 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        font-family: font(fonts-editor);

        .aligned-with-icon {
            position: relative;
            top: 0px;
        }

        button {
            padding: 0;
            min-width: 30px;
            text-align: center;
            ::ng-deep mat-icon {
                font-size: 18px;
            }
        }
    }
}
