@import "./variables";
@import "./functions";

$mobile: 479px;
$ipad: 767px;
$desktop: 991px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin ipad {
    @media (min-width: #{$ipad}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile}) {
        @content;
    }
}
