$colors: (
    // bg-color-landing: #005DFF,
        bg-color-landing: #3ec9c1,
    bg-color-editor: #e3e8ee,
    bg-color-toolbar: #fcfcff,
    bd-color-toolbar: lightgrey,
    accent: #fff6bb,
    primary-light: lighten(#3ec9c1, 40%),
    primary-dark: darken(#3ec9c1, 40%)
);

$fonts: (
    fonts-editor: (
        "Montserrat",
        sans-serif
    )
);
