/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";
@import "./functions";
@import "./mixins";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: font(fonts-editor);
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    // width: 0px !important;
    // background: transparent !important;
    display: none;
}
