<div fxLayout="column" class="mcv-section-container">
    <div
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0px"
    >
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> First Name </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.firstName"
                    placeholder="Ishaan"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Last Name </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.lastName"
                    placeholder="Desai"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Email ID </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.email"
                    placeholder="ishaan@abc.com"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Phone </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.phone"
                    placeholder="9900887756"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Job Title </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.jobTitle"
                    placeholder="Aspiring Software Engineer"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Image URL </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.image"
                    placeholder="https://i.imgur.com/..."
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Website </mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="personal.website"
                    placeholder="linkedin.com/ishaan"
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-md="100%">
            <mat-form-field appearance="outline">
                <mat-label> Address </mat-label>
                <textarea
                    matInput
                    type="text"
                    [(ngModel)]="personal.address"
                    placeholder="#13, Maruthi Nagar Bellary Karnataka"
                    autocomplete="off"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
