@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

.mcv-section-container {
    padding: 0 20px;

    mat-form-field.mat-form-field {
        font-family: font(fonts-editor);
        font-size: 14px;
        // padding: 0 20px;
        width: 100%;
    }

    // below style is work around to fix fxLayoutGap margin-right for row elements
    // but doesn't work in column view
    // *:last-child {
    //     margin-right: 10px !important;
    // }
}
