@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

.mcv-section-container {
    padding: 0 20px;

    mat-form-field.mat-form-field {
        font-family: font(fonts-editor);
        font-size: 14px;
        width: 100%;
    }
}
