<div fxLayout="column" class="mcv-section-container">
    <div fxFlex="100%">
        <mat-form-field appearance="outline">
            <mat-label> Summary </mat-label>
            <textarea
                matInput
                type="text"
                [(ngModel)]="summary.summary"
                placeholder="In 3-4 sentences outline your key capabilities."
                autocomplete="off"
            ></textarea>
        </mat-form-field>
    </div>
</div>
