<mat-card>
    <mat-tab-group
        [selectedIndex]="selectedTab"
        (selectedIndexChange)="(selectedTab)"
        (selectedTabChange)="tabChanged($event)"
    >
        <mat-tab
            *ngFor="let section of sections; let j = index"
            label="{{ section.header }}"
        >
            <div fxLayout="row" fxLayoutGap="4px">
                <div fxFlex="auto">
                    <mat-card-header>
                        <mat-card-title>{{ section.title }}</mat-card-title>
                        <mat-card-subtitle>
                            {{ section.subTitle }}
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>

                <div
                    fxLayout="row"
                    fxFlex="auto"
                    fxLayoutAlign="end start"
                    fxLayoutGap="4px"
                    class="mcv-row-btn"
                >
                    <button mat-button color="accent">
                        <mat-icon>spellcheck</mat-icon>
                    </button>
                    <button mat-button color="primary">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <edit-personal
                [personal]="section"
                *ngIf="section.header === 'Personal Info'"
            ></edit-personal>

            <edit-education
                [education]="section"
                *ngIf="section.header === 'Education'"
            >
            </edit-education>

            <edit-experience
                *ngIf="section.header === 'Experience'"
                [experience]="section"
            >
            </edit-experience>

            <edit-skills *ngIf="section.header === 'Skills'" [skills]="section">
            </edit-skills>

            <edit-summary
                *ngIf="section.header === 'Summary'"
                [summary]="section"
            >
            </edit-summary>

            <div
                fxLayout="row"
                fxLayout.lt-sm="column"
                fxLayoutGap="20px"
                fxLayoutAlign="space-between center"
                fxLayoutAlign.lt-sm="center center"
                class="mcv-nav-btn-container"
            >
                <button
                    mat-stroked-button
                    color="primary"
                    class="mcv-nav-btn"
                    *ngIf="j > 0"
                    (click)="back()"
                >
                    <mat-icon>arrow_back</mat-icon>
                    BACK
                </button>
                <button
                    mat-stroked-button
                    color="accent"
                    class="mcv-nav-btn"
                    (click)="next()"
                    *ngIf="j < maxNumberOfTabs"
                >
                    NEXT
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
