@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

.mat-card {
    padding: 0;
    min-height: 100px;
    height: auto;
    overflow-y: auto;

    @include desktop {
        margin: 0.5cm 0 0.5cm 0.5cm;
    }

    ::ng-deep .mat-card-header-text {
        width: 100%;
        justify-content: center;
        white-space: pre-line;

        ::ng-deep .mat-card-title {
            line-height: 1.4em;
            margin-top: 10px;
        }
        ::ng-deep .mat-card-subtitle {
            line-height: 1.4em;
        }
    }

    .mcv-nav-btn-container {
        padding: 20px;
        background-color: aliceblue;
        position: sticky;
        bottom: 0;
        z-index: 6;

        .mcv-nav-btn {
            height: 50px !important;
            width: 100%;
        }
    }

    .mcv-row-btn {
        margin-top: 10px;
        margin-right: 10px;

        ::ng-deep .mat-button {
            background-color: aliceblue;
            padding: 0;
            min-width: 40px;
        }
    }

    ::ng-deep .mat-tab-label,
    h5,
    button {
        font-family: font(fonts-editor) !important;
    }

    ::ng-deep .mat-tab-group {
        font-family: font(fonts-editor) !important;
    }

    ::ng-deep .mat-tab-body-wrapper {
        position: relative !important;
        top: 10px;
        // min-height: 400px;
        height: auto;

        @include desktop {
            max-height: calc(100vh - 170px);
        }
    }
}
