<div class="mcv-container-landing"></div>

<header>
    <div class="header-block">
        <a href="#">My Career CV</a>
        <!-- <button mat-button>
            <mat-icon>input</mat-icon>
        </button> -->
        <!-- <a href="#" class="login"><button>Login</button></a> -->
        <!-- <a href="#"> -->
        <button mat-button><mat-icon>input</mat-icon> Login</button>
        <!-- </a> -->
    </div>
</header>

<main>
    <section id="card">
        <img src="../../../assets/zenresume.svg" alt="" class="resume" />
    </section>

    <section id="primary">
        <h1>Build Your Career</h1>
        <p>Create a free professional resume in minutes!</p>

        <a href="../editor/template">Create My Resume</a>
    </section>
</main>

<footer>
    <div class="footer-wrap">
        <div class="text-block">© My Career CV LLC. All Rights Reserved.</div>
        <a href="#" class="link-block-1">Terms of Use</a>
        <a href="#" class="link-block-2">Privacy Policy</a>
    </div>
</footer>

<!-- <p>landing works!</p>
<button mat-button (click)="landOnEditor()" routerLink="../editor/template">Click me!</button> -->
