@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

$padding: 15px;
$borders: 15px;

.mcv-container-landing {
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    margin: 0;
    padding: 0;
    background-color: color(bg-color-landing);
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -1;

    @include ipad {
        height: 100vh;
    }

    @include desktop {
        clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
        margin: 0;
        padding: 0;
        background-color: color(bg-color-landing);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}

.header-block {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    a {
        color: #3b4464;
        text-decoration: none;
        padding: $padding;
        text-transform: uppercase;
        flex: 1;
        line-height: 2;
        font-family: "Montserrat", sans-serif;
        // font-size: 1.2em;
        font-weight: 500;
    }

    button {
        color: #3b4464;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        // padding: 9px 9px;
        margin-right: 4px;
        background-color: rgb(62, 201, 193, 1);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 50px;
        align-self: center;

        &:hover {
            background-color: rgb(62, 201, 193, 0.8);
        }
    }
}

main {
    @include desktop {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
    }

    section#card {
        text-align: center;
        margin-top: 69px;

        img {
            margin-top: 15px;
            width: 100vw;
        }

        @include desktop {
            grid-area: card;
            align-self: center;
            img {
                width: 48vw;
            }
        }
    }

    section#primary {
        color: #3b4464;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }

        h1 {
            margin-top: 10px;
            text-transform: uppercase;

            @include desktop {
                width: 30%;
                font-size: 4em;
                line-height: 0.9em;
                margin-top: 60px;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            color: #3b4464;
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            background-color: color(accent);
            display: block;
            text-align: center;
            margin: 50px auto 0 auto;
            padding: $padding;
            font-size: 1.2em;

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
            }
        }
    }
}

footer {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 16px;
    background-color: #3b4464;
    height: auto;

    .footer-wrap {
        display: flex;
        overflow: visible;
        height: auto;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .text-block {
            color: #fff;
            flex: 1;
            font-size: 12px;
        }
        .link-block-1 {
            text-decoration: none;
            margin-right: 18px;
            color: #fff;
            font-size: 12px;
            margin-top: 10px;
        }
        .link-block-2 {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    @include ipad {
        position: fixed;
        height: 50px;
        // margin-top: 64px;
        margin-bottom: 0px;
        .footer-wrap {
            flex-direction: row;
            align-items: center;
            padding: 19px 10px 0 10px;

            .link-block-1 {
                margin-top: 0px;
            }
            .link-block-2 {
                margin-top: 0px;
            }
        }
    }

    @include desktop {
        position: fixed;
        height: 50px;
        margin-top: 64px;
        margin-bottom: 0px;
        .footer-wrap {
            flex-direction: row;
            align-items: center;
            padding: 20px 10px 0 10px;
        }
    }
}
