@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

@mixin template-action {
    width: 95%;
    height: 46px;
    margin: 20px auto;
    font-family: font(fonts-editor);
    padding: 0;

    button {
        font-family: font(fonts-editor);
        height: 46px;
    }

    ::ng-deep .mat-icon {
        font-size: 18px;
        position: relative;
        top: 3px;
    }
}

.mcv-toolbar {
    background-color: color(bg-color-editor);
    border-bottom: color(bd-color-toolbar) 1px solid;
    font-family: font(fonts-editor);
    padding-left: 0;

    a {
        text-decoration: none;
    }

    @include ipad {
        display: flex;
        border-bottom: 0;
        // justify-content: flex-end;
    }

    @include desktop {
        display: flex;
        border-bottom: 0;
        // justify-content: flex-end;
        padding: 0 16px;
    }

    .template-settings {
        @include template-action();
        margin: 20px;
        transform-origin: 0 0;
        transform: scale(1);
        width: 50rem;

        @include ipad {
            width: 95%;
            margin: 20px auto;
            transform: scale(1);
        }
    }

    .mat-toolbar {
        position: sticky;
        top: 0;
        // z-index: 1;
        font-family: font(fonts-editor);
    }

    .mat-tab-group {
        width: 100%;
    }

    ::ng-deep .mat-tab-header {
        border-bottom: 0px !important;
        margin-top: 7px;
    }

    ::ng-deep .mat-ink-bar {
        background-color: #3b4464 !important;
    }

    ::ng-deep .mat-tab-body-wrapper {
        position: absolute !important;
        left: 0;
        top: 56px;
        width: 100vw;
    }

    ::ng-deep .mat-tab-label {
        font-family: font(fonts-editor) !important;
    }

    ::ng-deep .mat-tab-group {
        font-family: font(fonts-editor) !important;
    }

    .mcv-login {
        color: #3b4464;
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 500;
        background-color: rgba(227, 232, 238, 1);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 50px;
        align-self: center;
        align-items: flex-end;
        min-width: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        width: 120px;
        &:hover {
            background-color: rgba(227, 232, 238, 0.8);
        }
        ::ng-deep .mat-icon {
            height: 16px;
            // width: 0;
        }
        ::ng-deep .material-icons {
            font-size: 16px;
        }
    }
}

.container {
    height: auto;
    padding: 16px;

    .template-settings {
        @include template-action();
    }
    .preview {
        overflow-y: auto;
        max-height: calc(100vh - 100px);
    }
}

.mat-menu-panel.colors-container {
    background-color: transparent !important;
}
.mat-menu-panel.colors-container .colors {
    padding: 40px !important;
}
.mat-menu-panel.colors-container .colors .color-btn {
    // padding: 10px !important;
    margin: 5px !important;
}

.custom-snackbar {
    * {
        font-family: font(fonts-editor) !important;
        color: black;
        text-shadow: -0.5 0.5 0.5 #fff, 0.5 0.5 0.5 #fff, 0.5 -0.5 0 #fff,
            -0.5 -0.5 0 #fff;
    }
}
