<mat-toolbar class="mcv-toolbar">
    <span *ngIf="!(isHandset$ | async)">MY CAREER CV</span>
    <mat-tab-group *ngIf="isHandset$ | async">
        <mat-tab label="Edit">
            <app-edit [sections]="sections"></app-edit>
        </mat-tab>
        <mat-tab label="Preview">
            <mat-card class="template-settings">
                <div fxLayout="row">
                    <div>
                        <button mat-button color="primary">
                            <mat-icon>layers</mat-icon> Templates
                        </button>
                    </div>
                    <div>
                        <button mat-button color="primary">
                            <mat-icon>font_download</mat-icon> Fonts
                        </button>
                    </div>
                    <div>
                        <button mat-button color="primary">
                            <mat-icon>color_lens</mat-icon> Colors
                        </button>
                    </div>
                    <span fxFlex></span>
                    <div>
                        <button
                            mat-button
                            (click)="downloadCV()"
                            color="accent"
                        >
                            <mat-icon>save</mat-icon> Download
                        </button>
                    </div>
                </div>
            </mat-card>
            <app-preview></app-preview>
        </mat-tab>
    </mat-tab-group>
    <span fxFlex></span>
    <!-- <button mat-button class="mcv-login">
        <mat-icon>input</mat-icon>
        Log in
    </button> -->
    <span *ngIf="!(isHandset$ | async)" style="font-size:10px"
        >Made with <span style="color: red;"> &hearts;</span> by
        <a href="https://twitter.com/vishwakolkar" target="_blank"
            >Vishwa Kolkar</a
        ></span
    >
</mat-toolbar>
<div
    class="container"
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="32px"
    *ngIf="!(isHandset$ | async)"
>
    <div fxFlex="45%">
        <app-edit [sections]="sections"></app-edit>
    </div>
    <div fxFlex="55%" class="preview">
        <mat-card class="template-settings">
            <div fxLayout="row">
                <div>
                    <button mat-button color="primary">
                        <mat-icon>layers</mat-icon> Templates
                    </button>
                </div>
                <div>
                    <button mat-button color="primary">
                        <mat-icon>font_download</mat-icon> Fonts
                    </button>
                    <!--[matMenuTriggerFor]="fontsMenu" <mat-menu #fontsMenu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu> -->
                </div>
                <div>
                    <button
                        mat-button
                        color="primary"
                        [matMenuTriggerFor]="colorsMenu"
                    >
                        <mat-icon>color_lens</mat-icon> Colors
                    </button>
                    <mat-menu
                        #colorsMenu="matMenu"
                        class="mat-menu-panel colors-container"
                    >
                        <div
                            fxLayout="row wrap"
                            fxLayoutGap="5px"
                            class="colors"
                        >
                            <button
                                class="color-btn"
                                mat-mini-fab
                                *ngFor="let item of colorsPalette; index as j"
                                (click)="choseColor(j, item)"
                                [ngStyle]="{
                                    'background-color': item.rgba
                                }"
                            ></button>
                        </div>
                    </mat-menu>
                </div>
                <span fxFlex></span>
                <div>
                    <button mat-button (click)="downloadCV()" color="accent">
                        <mat-icon>save</mat-icon> Download
                    </button>
                </div>
            </div>
        </mat-card>
        <app-preview></app-preview>
        <!-- <template-asyde [sections]="sections"></template-asyde> -->
    </div>
</div>
