@import "~src/sass/variables";
@import "~src/sass/functions";
@import "~src/sass/mixins";

$text-primary: #000;
$text-secondary: purple;
$fonts: font(fonts-editor);

.text-secondary {
    color: purple;
}

.fonts-primary {
    font-family: "Montserrat", sans-serif;
}

@mixin header {
    border-bottom: 2px solid;

    h4 {
        text-transform: uppercase;
    }
}

@mixin content {
    padding: 10px 0;
    p {
        word-break: break-word;
        white-space: pre-line;
        font-size: 14px;
    }
}

div.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.2);

    * {
        padding: 0;
        margin: 0;
    }

    div,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        font-family: $fonts;
    }

    .personal {
        padding: 5px 10px;

        * {
            white-space: pre-line;
        }

        .name {
            padding: 10px;

            h3 {
                color: $text-primary;
            }

            p {
                padding-top: 8px;
                // color: $text-secondary;
                font-size: 14px;
            }

            .details {
                padding: 10px 0;
                font-size: 12px;
                display: grid;
                grid-template-columns: repeat(2, auto);
                white-space: pre-line;

                .aligned-with-icon {
                    position: relative;
                    top: -2px;
                    color: $text-primary;
                }

                ::ng-deep mat-icon {
                    font-size: 12px !important;
                    // color: $text-secondary;
                }
            }
        }
    }

    .main {
        padding: 5px 10px;

        .education {
            padding: 0 10px;
            .education-header {
                @include header();
            }
            .education-content {
                // padding: 10px 0;
                @include content();

                .container {
                    padding-top: 10px;
                }
                ::ng-deep mat-icon {
                    font-size: 12px !important;
                    // color: $text-secondary;
                }

                .education-footer {
                    padding-top: 10px;
                    border-bottom: dashed 1px lightgrey;
                    .aligned-with-icon {
                        position: relative;
                        top: -1px;
                        // color: $text-primary;
                    }

                    p {
                        white-space: pre-line;
                        // color: $text-primary;
                        font-size: 14px;
                    }

                    .grade {
                        text-align: end;
                        p {
                            white-space: pre-line;
                            // color: $text-secondary;
                            font-size: 14px;
                            line-height: 1.7em;
                        }
                    }
                }
            }
        }

        .summary {
            padding: 0 10px;
            .summary-header {
                @include header();
            }
            .summary-content {
                @include content();
            }
        }

        .experience {
            padding: 0 10px;
            .experience-header {
                @include header();
            }
            .experience-content {
                @include content();
                .container {
                    padding-top: 10px;
                }
                ::ng-deep mat-icon {
                    font-size: 12px !important;
                    // color: $text-secondary;
                }
                .aligned-with-icon {
                    position: relative;
                    top: -1px;
                    color: $text-primary;
                }
                .description {
                    padding-bottom: 10px;
                    border-bottom: dashed 1px lightgrey;
                }
            }
        }

        .skills {
            padding: 0 10px;
            .skills-header {
                @include header();
            }
            .skills-content {
                @include content();
                .mcv-skills-card {
                    font-family: $fonts;
                    font-size: 14px;
                    padding: 10px;
                    border: 1px solid;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
div.page[data-size="A4"] {
    margin: 20px 20px 20px 20px;
    width: 50rem;
    height: auto;
    // transform: translate(-50%, -50%);
    transform-origin: 0 0;
    // transform: scale(0.4);
    transform: scale(1);

    @include ipad {
        width: 95%;
        margin: 20px auto;
        transform: scale(1);
    }

    @include desktop {
        width: 95%;
        margin: 20px auto;
        transform: scale(1);
    }
}
@media print {
    div.page {
        margin: 0;
        box-shadow: 0;
        width: 21cm;
        height: 29.7cm;
    }
}
