<div class="page" data-size="A4" id="page">
    <div
        class="personal"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
    >
        <div class="name" fxFlex="calc( 70% - 10px )">
            <div fxLayout="column">
                <h3 style="text-transform: uppercase;">
                    {{ personal.firstName }}
                    {{ personal.lastName }}
                    <span *ngIf="!personal.firstName">Ishaan Desai</span>
                </h3>
            </div>
            <div fxLayout="column">
                <p class="text-secondary">
                    {{ personal.jobTitle }}
                    <span *ngIf="!personal.jobTitle"
                        >Aspiring Software Engineer</span
                    >
                </p>
            </div>
            <div class="details">
                <div>
                    <p>
                        <mat-icon class="text-secondary">email</mat-icon>
                        <span class="aligned-with-icon">{{
                            personal.email
                        }}</span>
                        <span *ngIf="!personal.email" class="aligned-with-icon"
                            >ishaan@abc.com</span
                        >
                    </p>
                </div>
                <div>
                    <p>
                        <mat-icon class="text-secondary">phone</mat-icon
                        ><span class="aligned-with-icon">{{
                            personal.phone
                        }}</span>
                        <span *ngIf="!personal.phone" class="aligned-with-icon"
                            >9900645476</span
                        >
                    </p>
                </div>
                <div>
                    <p>
                        <mat-icon class="text-secondary">home</mat-icon
                        ><span class="aligned-with-icon">{{
                            personal.address
                        }}</span>
                        <span
                            *ngIf="!personal.address"
                            class="aligned-with-icon"
                            >#13th cross Maruthi Nagar Bengaluru</span
                        >
                    </p>
                </div>
                <div>
                    <p>
                        <mat-icon class="text-secondary">link</mat-icon
                        ><span class="aligned-with-icon">{{
                            personal.website
                        }}</span>
                        <span
                            *ngIf="!personal.website"
                            class="aligned-with-icon"
                            >ishaan.com</span
                        >
                    </p>
                </div>
            </div>
        </div>
        <div class="dp" fxFlex="calc( 25% - 10px )"></div>
    </div>

    <div class="main" fxLayout="row" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex="calc(50% - 10px)" fxLayoutGap="10px">
            <div class="summary">
                <div class="summary-header border-secondary">
                    <h4>{{ summary.header }}</h4>
                </div>
                <div class="summary-content">
                    <p>
                        {{ summary.summary }}
                        <span *ngIf="!summary.summary"
                            >Brief your strengths, skills and achievements. Tell
                            the employer why they should hire you and you're
                            perfect for the role you're applying for!</span
                        >
                    </p>
                </div>
            </div>
            <div class="experience">
                <div class="experience-header">
                    <h4>{{ experience.header }}</h4>
                </div>
                <div class="experience-content">
                    <ng-container
                        *ngFor="let item of experience.items; index as j"
                    >
                        <div [ngClass]="{ container: j > 0 }">
                            <div fxLayout="column" fxLayoutGap="3px">
                                <h5>
                                    {{ item.designation }}
                                    <span *ngIf="!item.designation"
                                        >Software Developer</span
                                    >
                                </h5>
                                <p class="text-secondary">
                                    <span
                                        >{{ item.employer }}
                                        <span *ngIf="!item.employer"
                                            >XYZ Techonologies Pvt. Ltd.</span
                                        ></span
                                    >
                                </p>
                            </div>
                            <div
                                fxLayout="row"
                                fxLayoutGap="5px"
                                style="padding-top:10px"
                            >
                                <div fxFlex="45">
                                    <p>
                                        <mat-icon class="text-secondary">calendar_today</mat-icon>
                                        <span class="aligned-with-icon"
                                            >{{ item.startDate }}
                                            <span
                                                *ngIf="!item.startDate"
                                                class="aligned-with-icon"
                                                >2015</span
                                            ></span
                                        >
                                        -
                                        <span class="aligned-with-icon"
                                            >{{ item.endDate }}
                                            <span
                                                *ngIf="!item.endDate"
                                                class="aligned-with-icon"
                                                >2020</span
                                            ></span
                                        >
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <mat-icon class="text-secondary">location_on</mat-icon>
                                        <span class="aligned-with-icon">
                                            {{ item.city }}</span
                                        >
                                        <span
                                            *ngIf="!item.city"
                                            class="aligned-with-icon"
                                            >Bengaluru</span
                                        >
                                    </p>
                                </div>
                            </div>
                            <div fxLayout="column" class="description">
                                <p>
                                    {{ item.description }}
                                    <span *ngIf="!item.description"
                                        >Describe your achievements at this
                                        position.</span
                                    >
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="calc(50% - 10px)" fxLayoutGap="0px">
            <div class="education">
                <div class="education-header">
                    <h4>{{ education.header }}</h4>
                </div>
                <div class="education-content">
                    <ng-container
                        *ngFor="let item of education.items; let i = index"
                    >
                        <div [ngClass]="{ container: i > 0 }">
                            <div fxLayout="column" fxLayoutGap="3px">
                                <h5>
                                    {{ item.degree }}
                                    <span *ngIf="!item.degree"
                                        >Bachelor of Engineering</span
                                    >
                                </h5>
                                <p class="text-secondary">
                                    <span
                                        >{{ item.fieldOfStudy }}
                                        <span *ngIf="!item.fieldOfStudy"
                                            >Computer Science</span
                                        ></span
                                    >,&nbsp;
                                    <span
                                        >{{ item.schoolName }}
                                        <span *ngIf="!item.schoolName"
                                            >Dayanand Sagar College of
                                            Engineering</span
                                        ></span
                                    >
                                </p>
                            </div>
                            <div fxLayout="row" class="education-footer">
                                <div fxFlex="100">
                                    <p>
                                        <mat-icon class="text-secondary">location_on</mat-icon>
                                        <span class="aligned-with-icon">
                                            {{ item.city }}</span
                                        >
                                        <span
                                            *ngIf="!item.city"
                                            class="aligned-with-icon"
                                            >Bengaluru</span
                                        >
                                    </p>
                                    <p>
                                        <mat-icon class="text-secondary">calendar_today</mat-icon>
                                        <span class="aligned-with-icon"
                                            >{{ item.startDate }}
                                            <span
                                                *ngIf="!item.startDate"
                                                class="aligned-with-icon"
                                                >2015</span
                                            ></span
                                        >
                                        -
                                        <span class="aligned-with-icon"
                                            >{{ item.graduationDate }}
                                            <span
                                                *ngIf="!item.graduationDate"
                                                class="aligned-with-icon"
                                                >2020</span
                                            ></span
                                        >
                                    </p>
                                </div>
                                <div fxFlex="100" class="grade">
                                    <p class="text-secondary">Grade</p>
                                    <h5>
                                        {{ item.grade }}
                                        <span *ngIf="!item.grade">80%</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="skills">
                <div class="skills-header">
                    <h4>{{ skills.header }}</h4>
                </div>
                <div class="skills-content">
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <ng-container
                            *ngFor="let item of skills.items; index as j"
                        >
                            <div class="mcv-skills-card">
                                <span class="text-secondary">{{ item }}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
